.App {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
}

.App header {
  display: flex;
}

.App article {
  justify-self: flex-start;
  flex-grow: 1;
  overflow: hidden;
}

.copy-left {
  display: inline-block;
  text-align: right;
  margin: 0px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.tui-nav {
  z-index: unset;
  position: relative;
}

.App nav.tui-nav {
  display: flex;
  gap: 1em;
}

.App nav.tui-nav > span:last-child {
  flex-grow: 1;
  text-align: end;
}

@media (max-width: 300px) {
  .App nav.tui-nav {
    flex-direction: column;
    gap: inherit;
    margin-bottom: 0.5em;
  }
}

@media (max-width: 720px) {
  .App nav.tui-nav > span:last-child {
    display: none;
  }
}

.App footer.tui-nav {
  display: flex;
  justify-content: center;
}
